.App {
    position: relative;
}
header nav ul li a {
    color: hsl(219, 9%, 45%);
    font-size: 15px;
}
header nav ul.main-ul li a:hover {
    padding-bottom: 30px;
    border-bottom: 3px solid hsl(26, 100%, 55%);
}
.controls {
    display: flex;

    margin-top: 25px;
}
.add-to-cart div {
    margin-left: 10px;
    font-weight: 700;
}
figure div {
    position: relative;
    width: 85px;
    height: 85px;
    border: 2px solid transparent;
}
figure div.img-active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:  hsla(25, 100%, 94%, 0.625);
    border-radius: 15px;
    border: 2px solid hsl(26, 100%, 55%);
}
figure div.img-hover:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:  hsla(25, 100%, 94%, 0.625);
    border-radius: 15px;
    border: 2px solid  transparent;
    cursor: pointer;
}
.profile-active img {
    border-radius: 50px;
    border: 2px solid hsl(26, 100%, 55%);
}
.close-cart {
    display: none;
}
.delete {
    cursor: pointer;
}

/* Media */

@media (max-width: 575.98px) { 

    .main-ul {
        display: none !important;
    }
    .opened-menu {
        transform: translateX(0) !important;
        display: block !important;
    }
    ul.opened-menu::before {
        position: absolute;
        content: '';
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0,0.5);
    } 
    figure div {
        display: none;
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .main-ul {
        display: none !important;
    }
    .opened-menu {
        transform: translateX(0) !important;
        display: block !important;
    }
    ul.opened-menu::before {
        position: absolute;
        content: '';
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0,0.5);
    }
    figure div {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main-ul {
        display: none !important;
    }
    .opened-menu {
        transform: translateX(0) !important;
        display: block !important;
    }
    ul.opened-menu::before {
        position: absolute;
        content: '';
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0,0.5);
    }
    figure div {
        display: none;
    }
}